.ImageBrowser {
  align-items: center;
  max-height: 100%;
  width: 100%;
}

.ImageBrowser__container {
  overflow-x: hidden;
  overflow-y: visible;
  height: 100%;
}

.ImageBrowser__image {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  vertical-align: top;
}
