.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header__tabs {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Header__title,
.Header__spacer {
  flex: 1;
}
