div.Header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.Header__tabs {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Header .Header__title {
  flex: 1;
  margin: 15px 10px 5px 20px;
}

.Header__tabs-wrapper {
  width: 100%;
}
