* {
  font-family: "roboto", sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/**
 * PS Overrrides
 */
.ps .ps__rail-y,
.ps .ps__rail-x {
  z-index: 3;
}

.ps .ps__rail-y:hover,
.ps .ps__rail-x:hover {
  background-color: rgba(238, 238, 238, 0.4);
}
