.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App__header {
  flex-shrink: 0;
}

.App__paper {
  flex-grow: 1;
}

.App__section {
  display: flex;
  flex-grow: 1;
  padding: 50px;
}
