.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.App__header {
  flex-shrink: 0;
}

.App__paper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  overflow: auto;
  max-height: 100%;
  padding: 50px;
}

.App__paper--small {
  padding: 25px;
}

.App__section {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  padding: 50px;
}

.App__section--small {
  padding: 25px;
}
